
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    height: 500px;
    width: 30%;
    background-color: aqua;
    display: inline-block;
    
}

.box2 {
    height: 500px;
    width: 30%;
    background-color: rgb(168, 159, 24);
    display: inline-block;
}